<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmpolyeeSystem.PLL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmpolyeeSystem.PLL.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!ViewData["HideHeader"]?.Equals(true) ?? true)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                  
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <b>
                                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Portal</a>
                                </b>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><span class="glyphicon glyphicon-lock"></span> </a>
                            </li>
                            
                            @if(User.Identity.IsAuthenticated == false)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignUp">Register</a>
                                </li>
                            }

                            else
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
                                </li>
                               
                                <li class="nav-item ms-md-auto">
                                    <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Logout" style="margin-left:auto">Logout <span class="glyphicon glyphicon-log-out"></span> </a>
                                </li>
                                <li class="nav-item ms-2">
                                    <a class="btn btn-info" asp-area="" style="margin-left:auto"> <span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a>
                                </li>

                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    .navbar{
        background-color: #E0FBE2;
    }
</style>