@using EmpolyeeSystem.BLL.ModelVM.DepartmentVM
@model List<GetallDeptVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<center><h1><p class="text-primary"><b>Departments</b></p></h1></center>
<center>
    <a asp-controller="Department" asp-action="Create" class="button1">
        Add New Department
    </a>
<div class="row">
    <div class="col-12">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions <span class="glyphicon glyphicon-wrench"></span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var deptVM in Model)
                {
                    <tr>
                        <td>
                            @deptVM.id
                        </td>
                        <td>
                            @deptVM.Name
                        </td>
                        <td><a asp-action="Update" asp-controller="Department" asp-route-id=@deptVM.id class="btn btn-success"><i class="material-icons">border_color</i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    body {
        background-color: #E7FBE6;
    }

    .button1 {
        background-color: #229799;
        border-radius: 50px;
        color: aliceblue;
        padding: 10px 32px;
        text-align: center;
        font-weight: bold;
        display: inline-block;
    }

        .button1:hover {
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
            text-decoration: none;
        }

    .display {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        border-radius: 100px;
    }

        .display thead {
            background-color: cornflowerblue;
            border-radius: 100px;
        }

            .display thead th {
                color: azure;
            }

        .display tbody tr:nth-child(odd) {
            background-color: #D2E0FB;
            color: black;
            font-weight: bold;
        }

        .display tbody tr:nth-child(even) {
            background-color: #8EACCD;
            color: white;
            font-weight: bold;
        }

    .badge-danger {
        background-color: #EF5A6F;
    }

    .display-danger {
        background-color: #FF8A8A;
    }

    .badge-active {
        background-color: #88D66C;
    }

    .img {
        border-radius: 20px;
        border-color: brown;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>



